<div>
    <div class="modal fade" id="addDateModal" tabindex="-1" role="dialog" aria-labelledby="addDateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDateModalLabel">Agregar Nueva Cita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ url_for('register_date') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="idMascota">Nombre de la Mascota</label>
                            <select class="form-control" id="idMascota" name="idMascota" required>
                                <option value="">Selecciona una mascota</option>
                                {% for mascota in mascotas %}
                                    <option value="{{ mascota[0] }}">{{ mascota[0] }} - {{ mascota[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fechaCita">Fecha</label>
                            <input type="date" class="form-control" id="fechaCita" name="fechaCita" required>
                        </div>
                        <div class="form-group">
                            <label for="horaCita">Hora</label>
                            <input type="time" class="form-control" id="horaCita" name="horaCita" required>
                        </div>
                        <div class="form-group">
                            <label for="motivoCita">Motivo</label>
                            <input type="text" class="form-control" id="motivoCita" name="motivoCita" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar Cita</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>