<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sideBarStyles.css') }}">

<nav class="main-menu">
    <ul>

        <li class="has-subnav">
            <a href="{{ url_for('home') }}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Inicio
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="{{ url_for('pets') }}">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Mascotas 
                </span>
            </a>

        </li>

    </ul>

    <ul class="logout">
        <li>
            <a href="{{ url_for('logout') }}">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Cerrar Sesion
                </span>
            </a>
        </li>
    </ul>
</nav>