<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sideBarStyles.css') }}">

<nav class="main-menu">
    <ul>

        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    Calendario de Citas
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Mascotas Registradas
                </span>
            </a>

        </li>

    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>